html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title RTC Playground
    link(rel="stylesheet", href="main.scss")
  body
    h1 Hello, RTC!
    textarea#ipt.dp-block.ipt
    button#btnCreateOffer createOffer

    script(src="./main.ts")
